<!--este é nosso componente de criação de registros-->
<div class = "container custom-container">
    <div class = "col-md-12">
        <h3 class = "mb-3 text-center">Atualizar Registro</h3>

        <!--criar o formulário-->
        <div class = "form-group">
            <input type = "text" [(ngModel)] = "dadosRegistro.name" class = "form-control" placeholder = "Nome" />
        </div>

        <div class = "form-group">
            <input type = "email" [(ngModel)] = "dadosRegistro.email" class = "form-control" placeholder = "Email" />
        </div>

        <div class = "form-group">
            <input type = "text" [(ngModel)] = "dadosRegistro.phone" class = "form-control" placeholder = "Telefone" />
        </div>

        <button class = "btn btn-success btn-lg btn-block" (click) = "atualizarRegistro()">Atualizar Registro</button>
    </div>
</div>

